<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        [v-cloak]{
            display: none;
        }
        .del{
            text-decoration: line-through;
            color:#cccccc;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/all">
                    ToDoList
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="text-warning">你还需要做 {{totalItem}} 件事</h3>
                        <input type="text" class="form-control" placeholder="请输入事项..." v-model="title" @keyup.enter="addTitle()">
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(todo,index) in filterTodos" @dblclick="remember(todo)">
                                <span :class="{del:todo.isSelected}" v-show="cur!=todo">
                                <input type="checkbox" v-model="todo.isSelected">
                                {{todo.title}}
                                </span>
                                <input type="text" v-model="todo.title" v-show="cur==todo" @blur="cancel()" @keyup.enter="cancel()" v-focus="cur==todo">
                                <button class="pull-right btn btn-danger btn-xs" @click="removeTitle(todo)">&timesbar;</button>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <ul class="nav nav-pills">
                            <li role="presentation" :class="{active:hash==='all'}"><a href="#/all">全部事项</a></li>
                            <li role="presentation" :class="{active:hash==='finish'}"><a href="#/finish">已完成</a></li>
                            <li role="presentation" :class="{active:hash==='unfinish'}"><a href="#/unfinish">未完成</a></li>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-warning" @click="returnBack">回到新的一天</button>
                                <button type="button" class="btn btn-default btn-warning" @click="finishAll">完成所有</button>
                                <button type="button" class="btn btn-default btn-warning" @click="backChoose">反选</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="todo.js"></script>
</body>
</html>